html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper{
    background-color: darkslateblue;
    height: 100%;
    font-size: medium;
    color: indigo;
}

header{
    height: 80px;
    background-color: dimgray;
    font-size: 32pt;
    color: #f63;
    text-align: center;
    padding-top: 20px;
}



#content{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

#page-content{
    float: right;
    width: 78%;
    min-height: 300px;
    background: dimgray;
    padding: 10px;
    font-size: larger;
}

aside{
    float: left;
    width: 16%;
    min-height: 300px;
    background: dimgray;
    padding: 10px;
    font-size: larger;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*end #content*/

#empty-div{
    height: 70px;
    clear: both;
}
/*end #wrapper*/

footer{
    height: 60px;
    background-color: slategrey;
    text-align: center;
    padding-top: 33px;
    color: indigo;
}

/*USERS*/

#content-table-users{
    padding-top: 30px;
    padding-left: 30px;

}
#content-add-user{
    padding:20px 50px;
    background: dodgerblue;
}
#content-add-user p{
    font-size: 18px;
}

#table-users{
    background: #add8e6;
}

.form-element{
    margin: 12px 0;
}

.form-element input{
    font-size: 10pt;
    color: indigo;

}
.form-element input:focus{
    color: red;
    font-size: 11pt;
}

.form-element .error-message{
    color: brown;
    font-size: 12pt;
}

input[type="submit"]{
    background: cornflowerblue;
    color: indigo;
    border: 2px solid indigo;
    padding: 5px 12px;
    margin-top: 10px;
    font-size: 12pt;
}
input[type="submit"]:hover{
    cursor:pointer;
    border: 2px dashed indigo;
}

/*===============  NAV MENU  ==================*/
nav{
    background-color: #f63;
    font-size: 14pt;
}

.menu ul li{
    padding: 10px;
}
.menu ul > li:hover{
    background-color: #f96;
}
.menu ul ul > li:hover{
    background-color: #69e;
}
.menu ul li, .menu ul{
    display:inline-block;
}
.menu ul{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #f63;
}
.menu ul ul{
    display: none;
    position: absolute;
    background-color: #369;
    margin-top: 10px;
    margin-left: -10px;
}
.menu ul a{
    color: #fff;
    text-decoration: none;
}
.menu ul ul a{
    color: #fff;
    text-decoration: none;
}
.menu li:hover ul{
    display: block;
}
.menu li:hover li{
    display:block;
}