html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}

.wrapper{
    background-color: darkslateblue;
    height: 100%;
    font-size: medium;
    color: indigo;
}

.long-wrapper{
    background-color: darkslateblue;
    font-size: medium;
    color: indigo;
}

header{
    height: 84px;
    background-color: slategrey;
    font-size: 32pt;
    color: #f63;
    text-align: center;
    padding-top: 20px;
}

.light-text{
    color: azure;
    font-size: 18pt;
    padding-bottom: 8px;
}

.dark-text{
    color: indigo;
    font-size: 18pt;
    padding-bottom: 8px;
}

.text-good-news{
    color: indigo;
    font-size: 16pt;
    padding-bottom: 5px;
    padding-left: 2px;
}

.text-bad-news{
    color: darkred;
    font-size: 16pt;
    padding-bottom: 5px;
    padding-left: 2px;
}

.dark-text-small{
    color: indigo;
    font-size: 13pt
}

#content{
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 2%;
}

.picture{
    text-align: center;
}

#page-content{
    float: right;
    width: 78%;
    min-height: 300px;
    padding: 10px;
    font-size: larger;
}

aside{
    float: left;
    width: 16%;
    min-height: 60%;
    background: slategrey;
    padding: 10px;
    font-size: larger;
}

aside a{
    color: #f63;
    text-decoration: none;
}
aside a:hover{
    color: chartreuse;
    text-decoration: none;
}


.a-big {
    font-size: 40px;
}
.a-normal {
    font-size: 30px;
}
.a-small {
    font-size: 20px;
}

.clearfix:after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
/*end #content*/

#empty-div{
    height: 70px;
    clear: both;
}
/*end #wrapper*/

footer{
    height: 60px;
    background-color: slategrey;
    text-align: center;
    padding-top: 33px;
    color: indigo;
}

/*======================= USERS ============================*/
#content-table-users{
    padding: 30px;
    background: dodgerblue;
}
#table-users{
    background: #add8e6;
}
#table-users th{
    color: indigo;
    font-size: 13pt;
    padding: 4px;
}
/*============ STATIONS ============*/
#content-table-stations{
    padding: 30px;
    background: dodgerblue;
}
#table-stations{
    background: #add8e6;
}
#table-stations th{
    color: indigo;
    font-size: 13pt;
    padding: 4px;
}

/*============ ARCS ============*/
#content-table-arcs{
    padding: 30px;
    background: dodgerblue;
}
#table-arcs{
    background: #add8e6;
}

#table-arcs th{
    color: indigo;
    font-size: 13pt;
    padding: 4px;
}

/* ======= ROUTES ===============*/
#content-table-routes{
    padding: 30px;
    background: dodgerblue;
}
#table-routes{
    background: #add8e6;
}
#table-routes th{
    color: indigo;
    font-size: 13pt;
    padding: 4px;
}
/*========  TRAINS ===============*/
#content-table-trains{
    padding: 30px;
    background: dodgerblue;
}
#table-trains{
    background: #add8e6;
}
#table-trains th{
    color: indigo;
    font-size: 13pt;
    padding: 4px;
}

/*==========  JOURNEY ===============*/
#content-table-journey{
    padding: 30px;
    background: dodgerblue;
}
#table-journey{
    background: #add8e6;
    margin-top: 10px;
}
#table-journey th{
    color: indigo;
    font-size: 13pt;
    padding: 4px;
}

/*==========  BUY TICKET ===============*/
#content-buy-ticket{
    padding: 30px;
    background: dodgerblue;
}
#table-buy-ticket{
    background: #add8e6;
    margin-top: 10px;
}
#table-buy-ticket th{
    color: indigo;
    font-size: 13pt;
    padding: 4px;
}

/*==========  ACCOUNT ===============*/
#content-account{
    padding: 30px;
    background: dodgerblue;
}
#table-account{
    background: #add8e6;
    margin-top: 10px;
}
#table-account th{
    color: indigo;
    font-size: 13pt;
    padding: 4px;
}
/* =====  TIME TABLE ===============*/
#content-table-timetable{
    padding: 30px;
    background: dodgerblue;
}
#table-timetable-departure{
    background: #add8e6;
}
#table-timetable-departure th{
    padding: 2px;
    color: green;
    font-size: 13pt;
}
#table-timetable-departure td{
    padding: 5px;
}
#table-timetable-arrival{
    background: #add8e6;
}
#table-timetable-arrival th{
    padding: 3px;
    color: green;
    font-size: 13pt;
}
#table-timetable-arrival td{
    padding: 5px;
}

#table-timetable-arr-dep{

}
#table-timetable-arr-dep th{
    color: indigo;
    font-size: 13pt;
    padding: 4px;
}
#table-timetable-arr-dep td{
    vertical-align: top;
}

/*======================= ADD USER ============================*/

#content-add-user{
    padding:20px 50px;
    background: dodgerblue;
}

.form-element{
    margin: 12px 0;
}

.form-element input{
    font-size: 10pt;
    color: indigo;

}
.form-element input:focus{
    color: red;
    font-size: 11pt;
}

.form-element .error-message{
    color: darkred;
    font-size: 13pt;

}

input[type="submit"]{
    background: cornflowerblue;
    color: indigo;
    border: 2px solid indigo;
    padding: 5px 12px;
    margin-top: 10px;
    font-size: 12pt;
}
input[type="submit"]:hover{
    cursor:pointer;
    border: 2px dashed indigo;
}

/*===============  NAV MENU  ==================*/
nav{
    background-color: #f63;
    font-size: 16pt;
}

.menu ul li{
    padding: 10px;
}
.menu ul > li:hover{
    background-color: #f96;
}
.menu ul ul > li:hover{
    background-color: #69e;
}
.menu ul li, .menu ul{
    display:inline-block;
}
.menu ul{
    position: relative;
    margin: 0;
    padding: 0;
    background-color: #f63;
}
.menu ul ul{
    display: none;
    position: absolute;
    background-color: #369;
    margin-top: 10px;
    margin-left: -10px;
}
.menu ul a{
    color: #fff;
    text-decoration: none;
}
.menu ul ul a{
    color: #fff;
    text-decoration: none;
}
.menu li:hover ul{
    display: block;
}
.menu li:hover li{
    display:block;
}